#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
  clear: both;
  float: right;
  z-index: 9990;
}
#cssmenu {
  max-width: 880px;
  float: right;
  /*font-family: 'Dosis', sans-serif;*/
  font-family: Roboto;
  line-height: 1;
  z-index: 999999;
  margin-top: 3px;
  padding: 20px 0px 20px 0;
}
#cssmenu .menu-hide {
  display: none;
  background: none;
  cursor: none;
  padding: 22px 15px 22px 15px;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
    color: #000;
	padding: 10px 20px 8px 20px;
	display: block;
	font-size: 14px;
	text-align: center;
	letter-spacing: 0.4px;
	-webkit-transition: width 2s;
    transition: width 2s;
	text-transform: uppercase;
}
#cssmenu > ul > li:hover > a {
  color: #C20000;
}
#cssmenu .current > a {
  color: #C20000;
}
#cssmenu .nav-hiden > a {
	border-radius: 4px;
	border: 1px solid #C20000;
	color: #C20000;
  margin-left: 4px;
  margin-right: 4px;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 25px;
}
#cssmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 11px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #454545;
  border-right: 1px solid #454545;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: #EA4922;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
  height: 39px;
}
#cssmenu ul ul li a {
  padding: 10px 15px 15px 15px;
  width: 160px;
  font-size: 14px;
  background: #fff;
  text-decoration: none;  
  color: #454545;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #EA4922;
  background: #fff;
}
#cssmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}

@media all and (max-width: 1000px) {
#cssmenu ul ul li {
  padding-top: 0px;
}
#cssmenu .menu-hide {
	display: block;
}
  #cssmenu {
    width: 100%;
	margin-top: 15px;
	float: right;
	margin-left: 0;
	padding: 0px 0px 0px 0;
	border-right: none;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: left;
  }
  #cssmenu ul li,
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
	background: #F7F7F8;
    border-bottom: 1px solid #FF686D;	
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
	color: #606060;
	padding: 14px 15px 14px 15px;
	border: none;
	margin-left: 0px;
  }
  #cssmenu > ul > li:hover > a {
  color: #fff;
  background: #CD1118;
}
#cssmenu .current > a {
  color: #fff;
  background: #CD1118;
  border: none;
}

  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu ul ul li a {
    padding: 20px 20px 10px 30px;
    font-size: 14px;
    color: #000;
    background: #FFF3A6;	
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #000;
  }

  #cssmenu ul ul ul li a {
    padding-left: 40px;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
	width: 50px;
	position: relative;
	/*float: right;*/
	margin-bottom: 19px;
  }
  #cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #EA4A23;
  }
  #cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: 15px;
    height: 3px;
    border-top: 2px solid #EA4A23;
    border-bottom: 2px solid #EA4A23;
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 52px;
    width: 52px;
    cursor: pointer;
  }
  #cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #000;
    z-index: 99;
  }
  #cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 26px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000;
    z-index: 99;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    display: none;
  }

}
