@media all and (max-width: 1220px) {
#header, #page, .topsi, .footer-stat, #footer, .page-detail, .course, .btech, .page, .mapss {
	padding-left: 10px;
	padding-right: 10px;
}
}
@media all and (max-width: 1100px) {

}
@media all and (max-width: 1024px) {
.logo {
	position: absolute;
	max-width: 180px;
	z-index: 999999;
}
.foot {
	float: left;
	width: 22%;
	margin-right: 2%;
}
.foots {
	float: left;
	width: 34%;
	margin-right: 2%;
}
.foot2 {
	float: left;
	width: 40%;
}
.foot3 {
	float: left;
	margin-left: 5%;
	width: 90%;
}
.industry-work h3 {
	font-size: 19px;
	letter-spacing: 0.6px;
}
.industry-icon {
	width: 90px;
}
}
@media all and (max-width: 900px) {
.industry-work h3 {
	font-size: 18px;
	letter-spacing: 0.4px;
}
.industry-icon {
	width: 84px;
}
.lex {
	width: 46%;
	margin: 10px 2%;
}
.matter {
	float: left;
	width: 100%;
}
.sider2 {
	float: right;
	width: 100%;
	margin-top: 5px;
	position: relative;
	z-index: 9999;
}
.listers {
	width: 48%;
	float: left;
}
.linker {
	float: right;
	margin-top: 15px;
	width: 48%;
}
}
@media all and (max-width: 700px) {
.serv1 {
	width: 100%;
}
.serv-img {
	width: 100%;
}
}
@media all and (max-width: 768px) {
.sec1, .sec2, .sec3, .sec4, .sec5, .sec6 {
	width: 48%;
}
.industry-work div {
	float: left;
	width: 46%;
	margin: 10px 2%;
}
.foot {
	float: left;
	width: 48%;
	margin-right: 2%;
}
.foots {
	display: none;
}
.foot2 {
	float: left;
	width: 50%;
}
.foot3 {
	float: left;
	margin-left: 2%;
	width: 96%;
}
#footer p {
	text-align: center;
}
.dest {
	float: none;
	display: block;
	margin: auto;
}
.featuring h1 {
	font-size: 33px;
}
#page h2, .testim h2 {
	font-size: 32px;
}
.pzckages {
	width: 80%;
	margin-top: 20px;
	margin-left: 10%;
}
}
@media all and (max-width: 600px) {
.maps {
	width: 98%;
}
.contacts {
    width: 98%;
}
.sec1, .sec2, .sec3, .sec4, .sec5, .sec6 {
	width: 98%;
}
.pzckages {
	width: 90%;
	margin-top: 20px;
	margin-left: 5%;
}
.titler2, .titler {
	font-size: 26px;
	margin-top: 5px;
	line-height: 27px;
}
.tagline, .tagline2, .tagline3 {
	font-size: 16px;
	padding: 10px 0 0px;
}
.pack-plan, .pack-plan2, .pack-plan3 {
	padding: 11px 0;
	font-size: 20px;
	letter-spacing: 0px;
}
.cost1, .cost2, .cost3 {
	font-size: 34px;
	padding-bottom: 12px;
}
.plan-cost {
	padding: 10px 0 8px;
}
.pack-order1, .pack-order2, .pack-order3 {
	width: 120px;
	padding: 5px 0;
	line-height: 30px;
	font-size: 14px;
	border-radius: 20px;
}
.plan-cost sup {
	font-size: 18px;
}
.plan-cost sub {
	font-size: 18px;
}
.industry-work h3 {
	font-size: 16px;
	letter-spacing: 0.2px;
}
.industry-icon {
	width: 75px;
}
.listers, .linker {
	width: 90%;
	float: left;
	margin-left: 5%;
}
.foot3 {
	float: left;
	margin-left: 2%;
	width: 96%;
}
.foot {
	float: left;
	width: 50%;
	margin-right: 0%;
	margin-left: 0%;
}
.foot2 {
	float: left;
	width: 100%;
	margin-left: 0%;
}
.hidein {
	display: none;
}
.lost {
	border-right: none;
}
.featuring h1, #page h2, .testim h2 {
	font-size: 30px;
}
.lex2 {
	width: 96%;
	margin: 12px 2% 12px;
}
}
@media all and (max-width: 500px) {
.lex {
	width: 96%;
	margin: 10px 2%;
}
.featuring h1, #page h2, .testim h2 {
	font-size: 26px;
}
.industry-work h3 {
	font-size: 15px;
	letter-spacing: 0px;
}
.industry-icon {
	width: 65px;
}
}
