<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>B. Tech - Pollyanna consultancy services</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="image/icon.png" rel="icon">
<!-- Design -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/fonts.css" rel="stylesheet" type="text/css" media="screen" />
<!-- Menu -->
<link href="css/menu-responsive.css" rel="stylesheet" type="text/css" />
<script src="js/submenu-2.js" type="text/javascript"></script>
<script src="js/submenu.js" type="text/javascript"></script>
</head>

<body>
<!-- Header -->
<div id="wrapper">
  <div id="header">
    <div class="logo"> <a href="http://www.gadgethubpatna.com/"><img src="image/logo.png" alt="" /></a> </div>
    <div id="cssmenu">
    <ul>
      <li class="menu-hide">&nbsp;</li>
      <li class="current"><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Our Service</a>
        <ul>
          <li><a href="#">Mobile Repairing</a>
          <ul>
          <li><a href="#">Mobile Repairing</a></li>
          <li><a href="#">Laptop Repairing</a></li>
        </ul>
          </li>
          <li><a href="#">Laptop Repairing</a></li>
        </ul>
      </li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Contact Us</a></li>
      <li class="nav-hiden"><a href="#">Login</a></li>
      <li class="nav-hiden"><a href="#">Sign Up</a></li>
    </ul>
  </div>
  </div>
  <div class="breaker"></div>
</div>
<!-- Banner -->
<div class="bann1">
<h1>B.TECH</h1>
<p style="text-align: center; color: #fff; font-size: 19px; margin-top: -23px;">“Engineers like to solve problems. If there are no problems handily <br>available, they will create their own problems.”</p>
</div>
<!-- Page -->
<div class="page">
<h2>BACHELORS OF TECHNOLOGY</h2>
<p>Bachelors of Technology often referred to as B.Tech, is a four-year full-time course that cover different fields of engineering and technology. The course is designed to develop the technical skills of aspirants who wish the work in the core technology and development sector. B.Tech comprises both theoretical and practical knowledge. Students are also offered hands-on training in order to learn how different software and hardware in their respective fields are operated. Apart from the core engineering sectors, B.Tech enables candidates to work in the Information Technology, Data Analysis, Consultancy and Management sectors. With good technical skills, Bachelor of Technology graduates can also apply for jobs in various Public Sector Undertakings (PSUs) and other jobs in the government sector.</p>
<h2>B.Tech Course Details</h2>
<table>
  <tr>
    <th>Degree</th>
    <td>Bachelors</td>
  </tr>
  <tr>
    <th>Full Form</th>
    <td>Bachelor of Technology</td>
  </tr>
  <tr>
    <th>Duration</th>
    <td>Course Duration of Bachelor of Technology [B.Tech] is 4 Years.</td>
  </tr>
  <tr>
    <th>Age</th>
    <td>17 - 22 years of age</td>
  </tr>
  <tr>
    <th>Minimum Percentage</th>
    <td>45% in 10+2 from a recognized Board</td>
  </tr>
  <tr>
    <th>Subjects Required</th>
    <td>Physics, Chemistry, Mathematics with Computer Science / Electronics / Biology</td>
  </tr>
  <tr>
    <th>Average Fees Incurred</th>
    <td>INR 1.5 - 2 LPA</td>
  </tr>
  <tr>
    <th>Similar Options of Study</th>
    <td>Bachelor of Engineering [BE]</td>
  </tr>
  <tr>
    <th>Average Salary Offered</th>
    <td>INR 5 - 6 LPA</td>
  </tr>
  <tr>
    <th>Employment Roles</th>
    <td>Software Engineer, Senior Software Engineer, Software Developer, Mechanical Engineer, Systems Engineer, IT Support, Associate Software Engineer etc. as Associate / Fully Fledged.</td>
  </tr>
  <tr>
    <th>Placement Opportunities</th>
    <td>Tata Consultancy Services Limited, Infosys Limited, HCL Technologies Ltd., Accenture, Capgemini, HP, Intel, etc are the top recruiters</td>
  </tr>
</table>
<div class="breaker"></div>
</div>
<!-- Btech Course -->
<div class="btech">
<h2>Our B-tech Courses</h2>
<div class="sec1">
<h2>B.Tech Computer Science Engineering Course Details</h2>
<table>
  <tr>
    <th>Degree</th>
    <td>Bachelors</td>
  </tr>
  <tr>
    <th>Full Form</th>
    <td>Bachelor of Technology in Computer Engineering</td>
  </tr>
  <tr>
    <th>Duration</th>
    <td>Course Duration of Bachelor of Technology [B.Tech] (Computer Science and Engineering) is 4 Years.</td>
  </tr>
  <tr>
    <th>Age</th>
    <td>No age limit</td>
  </tr>
  <tr>
    <th>Minimum Percentage</th>
    <td>A minimum of 50% average marks in graduation</td>
  </tr>
  <tr>
    <th>Average Fees Incurred</th>
    <td>INR 40000 - 3 LPA</td>
  </tr>
  <tr>
    <th>Average Salary Offered</th>
    <td>INR 2 - 7 LPA</td>
  </tr>
  <tr>
    <th>Employment Roles</th>
    <td>Software Engineer, Software Developer, Programmer</td>
  </tr>
</table>
</div>
<div class="sec2">
<h2>B.Tech Information Technology Course Details</h2>
<table>
  <tr>
    <th>Degree</th>
    <td>Bachelors</td>
  </tr>
  <tr>
    <th>Full Form</th>
    <td>Bachelor of Technology in Information Technology</td>
  </tr>
  <tr>
    <th>Duration</th>
    <td>Course Duration of Bachelor of Technology [B.Tech] (Information Technology) is 4 Years.</td>
  </tr>
  <tr>
    <th>Age</th>
    <td>No age limit</td>
  </tr>
  <tr>
    <th>Minimum Percentage</th>
    <td>45-60% in PCM</td>
  </tr>
  <tr>
    <th>Average Fees Incurred</th>
    <td>INR 25,000 - 2 L per annum</td>
  </tr>
  <tr>
    <th>Average Salary Offered</th>
    <td>INR 5.68 LPA [Source : Payscale]</td>
  </tr>
  <tr>
    <th>Employment Roles</th>
    <td>Senior Software Engineer, Associate Software Engineer, Systems Engineer - IT, Programmer Analyst, Java Developer, Web Developer, Software Engineer / Developer / Programmer, Test Engineer etc.</td>
  </tr>
</table>
</div>
<div class="sec3">
<h2>B.Tech Electronic & communication Course Details</h2>
<table>
  <tr>
    <th>Degree</th>
    <td>Bachelors</td>
  </tr>
  <tr>
    <th>Full Form</th>
    <td>Bachelor of Technology in Electronic & communication</td>
  </tr>
  <tr>
    <th>Duration</th>
    <td>Course Duration of Bachelor of Technology [B.Tech] (Electronic & communication) is 4 Years.</td>
  </tr>
  <tr>
    <th>Age</th>
    <td>No age limit</td>
  </tr>
  <tr>
    <th>Minimum Percentage</th>
    <td>45-60% in PCM</td>
  </tr>
  <tr>
    <th>Average Fees Incurred</th>
    <td>INR 25,000 - 2 L per annum</td>
  </tr>
  <tr>
    <th>Average Salary Offered</th>
    <td>NR 6 LPA [Source : Payscale]</td>
  </tr>
  <tr>
    <th>Employment Roles</th>
    <td>Software Engineer, Network Designer, Application Developer, Web Developer, Hardware Engineer, CAD engineer, Communication Manager, etc..</td>
  </tr>
</table>
</div>
<div class="breaker"></div>
<div class="sec4">
<h2>B.Tech Electrical and Electronics Engineering (EEE) Course Details</h2>
<table>
  <tr>
    <th>Degree</th>
    <td>Bachelors</td>
  </tr>
  <tr>
    <th>Full Form</th>
    <td>Bachelor of Technology in Mechanical Engineering</td>
  </tr>
  <tr>
    <th>Duration</th>
    <td>Course Duration of Bachelor of Technology [B.Tech] (Mechanical Engineering) is 4 Years.</td>
  </tr>
  <tr>
    <th>Age</th>
    <td>No age limit</td>
  </tr>
  <tr>
    <th>Minimum Percentage</th>
    <td>45%-50% in 10+2 with Physics, Chemistry and Mathematics as compulsory subjects</td>
  </tr>
  <tr>
    <th>Subjects Required</th>
    <td>Physics, Chemistry and Mathematics</td>
  </tr>
  <tr>
    <th>Average Fees Incurred</th>
    <td>INR 4 - 10 Lakhs</td>
  </tr>
  <tr>
    <th>Average Salary Offered</th>
    <td>INR 3.4 LPA [Source: Payscale]</td>
  </tr>
  <tr>
    <th>Employment Roles</th>
    <td>Mechanical Engineer, Design Engineer, Mechanical Design Engineer, Project Engineer, Production Engineer, etc.</td>
  </tr>
</table>
</div>
<div class="sec5">
<h2>B.Tech Mechanical Engineering Course Details</h2>
<table>
  <tr>
    <th>Degree</th>
    <td>Bachelors</td>
  </tr>
  <tr>
    <th>Full Form</th>
    <td>Bachelor of Technology in Electrical and Electronics Engineering</td>
  </tr>
  <tr>
    <th>Duration</th>
    <td>Course Duration of Bachelor of Technology [B.Tech] (Electrical and Electronics Engineering) is 4 Years.</td>
  </tr>
  <tr>
    <th>Age</th>
    <td>No age limit</td>
  </tr>
  <tr>
    <th>Minimum Percentage</th>
    <td>45% - 60% in 10+2 with Physics, Chemistry, and Mathematics as compulsory subjects</td>
  </tr>
  <tr>
    <th>Average Fees Incurred</th>
    <td>INR 25K - 2.5 LPA</td>
  </tr>
  <tr>
    <th>Average Salary Offered</th>
    <td>INR 3.8 LPA [Source: Payscale]</td>
  </tr>
  <tr>
    <th>Employment Roles</th>
    <td>Electrical Engineer, Software Engineer, Senior Software Engineer, Senior Electrical Engineer, Systems Engineer, Software Developer, Electrical Design Engineer, Project Engineer, Test Engineer etc.</td>
  </tr>
</table>
</div>
<div class="sec6">
<h2>B.Tech Civil Engineering Course Details</h2>
<table>
  <tr>
    <th>Degree</th>
    <td>Bachelors</td>
  </tr>
  <tr>
    <th>Full Form</th>
    <td>Bachelor of Technology in Civil Engineering</td>
  </tr>
  <tr>
    <th>Duration</th>
    <td>Course Duration of Bachelor of Technology [B.Tech] (Civil Engineering) is 4 Years.</td>
  </tr>
  <tr>
    <th>Age</th>
    <td>No specific age limit</td>
  </tr>
  <tr>
    <th>Minimum Percentage</th>
    <td>45-60%</td>
  </tr>
  <tr>
    <th>Average Salary Offered</th>
    <td>INR 2.4 LPA [Source: Payscale]</td>
  </tr>
  <tr>
    <th>Employment Roles</th>
    <td>Civil Engineer, Structural Engineer, Structural Design Engineer, Project Manager, Design Engineer, Construction Manager, Project Engineer, Safety Officer, etc.</td>
  </tr>
</table>
</div>
<div class="breaker"></div>
</div>
<!-- Footer -->
<div id="footer-wrap">
  <div class="footer-stat">    
    <div class="foot">
      <h3>Useful Links</h3>
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Clients</a></li>
      <li><a href="#">Contact</a></li>
    </div>
    <div class="foot">
      <h3>Services</h3>
      <li><a href="#">Website Design</a></li>
      <li><a href="#">Software Development</a></li>
      <li><a href="#">Ecommerce Design</a></li>
      <li><a href="#">Mobile Apps</a></li>
      <li><a href="#">SEO</a></li>
    </div>
    <div class="foot2">
      <h3>Get In Touch</h3>
      <p><img src="image/address-icon.png" alt="" class="adrs">Patna One Plaza Dakbangalow Chauraha 800001</p>
      <p><img src="image/phn-icon.png" alt="" class="mbl"> +91 8409115187 / 9304351176</p>
      <p><img src="image/mail-icon.png" alt="" class="eml"> support@pollyannaconsultancyservices.com</p>
    </div>
    <div class="foot3">
      <h3>Location Map</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3597.852053567113!2d85.1345072143363!3d25.60983197112164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed58433b8cfdcf%3A0x10ac01ddbd9388e9!2sPatna%20One%20Plaza!5e0!3m2!1sen!2sin!4v1652972495603!5m2!1sen!2sin" width="100%" height="160" frameborder="0" class="mappi" allowfullscreen></iframe>
    </div>
    <div class="breaker"></div>
  </div>  
</div>
<div class="feeter">
  <div id="footer">
    <p style="text-align: center;">Copyright (c) 2022 Pollyanna cosultancy services. All rights reserved.</p>
    <div class="breaker"></div>
  </div>
</div>
</body>
</html>
