<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Educationat Services - Pollyanna consultancy services</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="static/image/icon.png" rel="icon">
<!-- Design -->
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/css/fonts.css" rel="stylesheet" type="text/css" media="screen" />
<!-- Menu -->
<link href="static/css/menu-responsive.css" rel="stylesheet" type="text/css" />
<script src="static/js/submenu-2.js" type="text/javascript"></script>
<script src="static/js/submenu.js" type="text/javascript"></script>
</head>

<body>
<!-- Header -->
<div id="wrapper">
  <div id="header">
    <div class="logo"> <a href="#"><img src="static/image/logo.png" alt="" /></a> </div>
    <div id="cssmenu">
    <ul>
      <li class="menu-hide">&nbsp;</li>
      <li class="current"><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Our Service</a>
        <ul>
          <li><a href="#">Mobile Repairing</a>
          <ul>
          <li><a href="#">Mobile Repairing</a></li>
          <li><a href="#">Laptop Repairing</a></li>
        </ul>
          </li>
          <li><a href="#">Laptop Repairing</a></li>
        </ul>
      </li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Contact Us</a></li>
      <li class="nav-hiden"><a href="#">Login</a></li>
      <li class="nav-hiden"><a href="#">Sign Up</a></li>
    </ul>
  </div>
  </div>
  <div class="breaker"></div>
</div>
<!-- Banner -->
<div class="bann">
<h1>Educational services</h1>
</div>
<!-- Page Details -->
<div class="page-detail">
   <div class="matter">     
     <h2>Why Educational Counsultancy Matters?</h2>
     <p>Before knowing why you should consider a consultancy to study in india know that after finishing school or college, every student starts fostering new hopes for their future. Eventually, they face some difficult questions – what should I do next? What course or university should be apt for me? Should I study in which state and which college? If yes, then which college should I apply? Will they accept my application for my preferred course/program? Every student is equally anxious about their career.</p>
     <p>To put an end to all your confusion and anxiety, you can always approach a study education consultancy such as pollyanna consultancy services to help and guide you embark on the journey as it could a little daunting for a student to complete the entire process on their own. But you need to prepare yourself for the unforeseen events as well.</p>
     <h2>What P.C.S Can Do For Their Student In Education Consultancy</h2>
     <p>We conduct a test CACT (college admission cum test) and provide scholarship. (Upto 50%)</p>
     <p>By the way, Student who has financial problems has the scheme of free education T&C apply.</p>
     <p>We have create a system to Developed the students by industries expert to meet the Industries recruitment & process.</p>
     <p>We are aiming to Place the maximum number of students through campus & off-campus interviews conducted by the top companies.</p>
   </div>
   <div class="sider2">
    <div class="listers">
     <h2>Quick Enquiry</h2>
     <form  method="post" name="msgform" id="msgform" onsubmit="return validate(this)" action="">        
       <input name="name" id="name" type="text" placeholder="Name" />
       <input name="name" id="name" type="text" placeholder="Email Id" />        
       <input name="name" id="name" type="text" placeholder="Mobile No." />
       <textarea name="pcomment" id="pcomment" placeholder="Enter your Comment" rows="3" cols=""></textarea>          
       <input name="send" type="button" id="send" value="Submit" onclick="return validate();" />
     </form>
    </div>    
  </div>
 <div class="breaker"></div>
</div>
<!-- Course -->
<div id="cours">
<div class="course">
<h1>Our Courses</h1>
<div class="lex cl1">
<span><img src="image/course/engineer.jpg" alt="" /></span>
<h2><span class="highl">Engineering</span></h2>
<a href="btech.html" class="league sr1">B.TECH</a>
<a href="#" class="league sr1">M.TECH</a>
<a href="#" class="league sr1">DIPLOMA</a> 
</div>
<div class="lex cl2">
<span><img src="image/course/architectect.jpg" alt="" /></span>
<h2><span class="highl2">Architecture</span></h2>
<a href="#" class="league sr2">B.Architecture</a> 
<a href="#" class="league sr2">M.Architecture</a>
</div>
<div class="lex cl3">
<span><img src="image/course/banking.jpg" alt="" /></span>
<h2><span class="highl3">Commerce & Banking</span></h2>
<a href="#" class="league sr3">Commerce & Banking (U.G)</a>
<div class="break"></div>
<a href="#" class="league sr3">Commerce & Banking (P.G)</a>
</div>
<div class="lex cl4">
<span><img src="image/course/management.jpg" alt="" /></span>
<h2><span class="highl4">Management</span></h2>
<a href="#" class="league sr4">Bachelors in Management</a> 
<div class="break"></div>
<a href="#" class="league sr4">Masters in Management</a> 
</div>
<div class="break"></div>
<div class="lex cl2">
<span><img src="image/course/law.jpg" alt="" /></span>
<h2><span class="highl2">Law</span></h2>
<a href="#" class="league sr2">Law</a> </div>
<div class="lex cl1">
<span><img src="image/course/medical.jpg" alt="" /></span>
<h2><span class="highl">Medical</span></h2>
<a href="#" class="league sr1">Medical</a> </div>
<div class="lex cl4">
<span><img src="image/course/para-medical.jpg" alt="" /></span>
<h2><span class="highl4">Paramedical</span></h2>
<a href="#" class="league sr4">Paramedical</a> </div>
<div class="lex cl3">
<span><img src="image/course/pharmacy.jpg" alt="" /></span>
<h2><span class="highl3">Pharmacy</span></h2>
<a href="#" class="league sr3">B.Pharmacy</a> 
<a href="#" class="league sr3">D.Pharmacy</a> 
</div>
<div class="lex cl1">
<span><img src="image/course/dental.jpg" alt="" /></span>
<h2><span class="highl">Dental</span></h2>
<a href="#" class="league sr1">Dental</a> </div>
<div class="lex cl2">
<span><img src="image/course/nursing.jpg" alt="" /></span>
<h2><span class="highl2">Nursing</span></h2>
<a href="#" class="league sr2">Nursing</a> </div>
</div>
<div class="breaker"></div>
</div>
<!-- Footer -->
<div id="footer-wrap">
  <div class="footer-stat">    
    <div class="foot">
      <h3>Useful Links</h3>
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Clients</a></li>
      <li><a href="#">Contact</a></li>
    </div>
    <div class="foot">
      <h3>Services</h3>
      <li><a href="#">Website Design</a></li>
      <li><a href="#">Software Development</a></li>
      <li><a href="#">Ecommerce Design</a></li>
      <li><a href="#">Mobile Apps</a></li>
      <li><a href="#">SEO</a></li>
    </div>
    <div class="foot2">
      <h3>Get In Touch</h3>
      <p><img src="image/address-icon.png" alt="" class="adrs">Patna One Plaza Dakbangalow Chauraha 800001</p>
      <p><img src="image/phn-icon.png" alt="" class="mbl"> +91 8409115187 / 9304351176</p>
      <p><img src="image/mail-icon.png" alt="" class="eml"> support@pollyannaconsultancyservices.com</p>
    </div>
    <div class="foot3">
      <h3>Location Map</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3597.852053567113!2d85.1345072143363!3d25.60983197112164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed58433b8cfdcf%3A0x10ac01ddbd9388e9!2sPatna%20One%20Plaza!5e0!3m2!1sen!2sin!4v1652972495603!5m2!1sen!2sin" width="100%" height="160" frameborder="0" class="mappi" allowfullscreen></iframe>
    </div>
    <div class="breaker"></div>
  </div>  
</div>
<div class="feeter">
  <div id="footer">
    <p style="text-align: center;">Copyright (c) 2022 Pollyanna cosultancy services. All rights reserved.</p>
    <div class="breaker"></div>
  </div>
</div>
</body>
</html>
